.icon__inicio::before {
    content: url(../img/menu/home.png);
}

.icon__explorar::before {
    content: url(../img/menu/explore.png);
}

.icon__shorts::before {
    content: url(../img/menu/shorts.png);
}

.icon__inscricoes::before {
    content: url(../img/menu/subscriptions.png);
}

.icon__biblioteca::before {
    content: url(../img/menu/video_library.png);
}

.icon__historico::before {
    content: url(../img/menu/history.png);
}

.icon__relogio::before {
    content: url(../img/menu/history_toggle_off.png);
}

.icon__like::before {
    content: url(../img/menu/thumb_up_alt.png);
}

.icon__alura::before {
    content: url(../img/menu/Avatar_Alura.png);
}

.icon__gaveta::before {
    content: url(../img/menu/Avatar_Gaveta.png);
}

.icon__ballerini::before {
    content: url(../img/menu/Avatar_Rafa.png);
}

.icon__iamarino::before {
    content: url(../img/menu/Avatar_Atila.png);
}

.icon__souto::before {
    content: url(../img/menu/Avatar_Souto.png);
}

.icon__nerd::before {
    content: url(../img/menu/Avatar_Jovem_Nerd.png);
}

.icon__deschamps::before {
    content: url(../img/menu/Avatar_Deschamps.png);
}

.icon__mostrar::before {
    content: url(../img/menu/keyboard_arrow_down.png);
}

.icon__videos::before {
    content: url(../img/menu/videos.png);
}

.icon__filmes::before {
    content: url(../img/menu/filmes.png);
}

.icon__jogos::before {
    content: url(../img/menu/jogos.png);
}

@media(min-width: 834px) {

}

@media(min-width: 1440px) {
    
}